body {
  font-family: sans-serif;
  
  p {
    font-size: 15px;
  }
}

.container {
  padding: 1rem;
}

.signal-bar {
  width: 80px;
  height: 14px;
  background-color: gray;

  div {
    height: 14px;
    background-color: green;
  }
}
